@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
  @apply !flex !justify-center !gap-[5px];
}

.swiper-pagination-bullet {
  @apply !w-[13px] !h-[13px] !rounded-full !bg-transparent !border !border-primary !border-solid !opacity-100 !mx-0;
}

.swiper-pagination-bullet-active {
  @apply !bg-primary;
}

.dots-tratamentos .swiper-pagination-bullet {
  @apply !border-white;
}

.dots-tratamentos .swiper-pagination-bullet-active {
  @apply !bg-white;
}

.glowing-text {
  text-shadow: 0 0 10px #c7fad6, 0 0 20px #c7fad6, 0 0 40px #c7fad6,
    0 0 80px #c7fad6, 0 0 160px #c7fad6;

  @media screen and (min-width: 1024px) {
    line-height: 0.4em;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  }
}

.glow {
  box-shadow: 0 0 10px #c7fad6, 0 0 20px #c7fad6, 0 0 40px #c7fad6,
    0 0 80px #c7fad6, 0 0 160px #c7fad6;
}

.glowing-text-animation {
  animation: glowing 5s infinite;

  @media screen and (min-width: 1024px) {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.4em !important;
  }
}

@keyframes glowing {
  18%,
  22%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #fff;
    text-shadow: none;
  }
  0%,
  18.1%,
  22.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #c7fad6;
    text-shadow: 0 0 10px #c7fad6, 0 0 20px #c7fad6, 0 0 40px #c7fad6,
      0 0 80px #c7fad6, 0 0 160px #c7fad6;
  }
}

.radius-animation {
  animation: radius 10s infinite;
}

.radius-animation:nth-child(2) {
  filter: blur(50px);
}

.radius {
  border-radius: 71% 29% 70% 30% / 48% 69% 31% 52%;
}

.radius:nth-child(2) {
  filter: blur(50px);
}

@keyframes radius {
  0% {
    border-radius: 71% 29% 70% 30% / 48% 69% 31% 52%;
    transform: rotate(0deg);
  }
  25% {
    border-radius: 34% 66% 62% 38% / 26% 52% 48% 74%;
  }
  35% {
    border-radius: 29% 71% 30% 70% / 69% 48% 52% 31%;
    transform: rotate(120deg);
  }
  50% {
    border-radius: 29% 71% 30% 70% / 69% 48% 52% 31%;
  }
  65% {
    transform: rotate(230deg);
  }
  75% {
    border-radius: 67% 33% 27% 73% / 48% 34% 66% 52%;
  }
  85% {
    transform: rotate(90deg);
  }
  100% {
    border-radius: 71% 29% 70% 30% / 48% 69% 31% 52%;
    transform: rotate(0deg);
  }
}

.radius-2-animation {
  animation: radius-2 5s infinite;
  filter: blur(40px);
}

@keyframes radius-2 {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: translateY(0) translateX(0);
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    transform: translateY(-20px) translateX(-20px);
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: translateY(0) translateX(0);
  }
}

.radius-3-animation {
  animation: radius-3 5s infinite;
  filter: blur(40px);
}

@keyframes radius-3 {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: translateY(0) translateX(0);
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    transform: translateY(40px) translateX(-10px);
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: translateY(0) translateX(0);
  }
}

.arrow-animation {
  animation: arrow 3s infinite;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
    rotate: 0deg;
  }
  52% {
    rotate: 15deg;
  }
  60% {
    rotate: -15deg;
  }
  70% {
    transform: translateY(-10px);
    rotate: 0deg;
  }
  100% {
    transform: translateY(0);
  }
}

.shadow-inside-bottom {
  -webkit-box-shadow: inset 0px -33px 37px -12px #c7fad6;
  -moz-box-shadow: inset 0px -33px 37px -12px #c7fad6;
  box-shadow: inset 0px -33px 37px -12px #c7fad6;
}

.shadow-inside-top {
  -webkit-box-shadow: inset 0px 33px 37px -12px #c7fad6;
  -moz-box-shadow: inset 0px 33px 37px -12px #c7fad6;
  box-shadow: inset 0px 33px 37px -12px #c7fad6;
}
